<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">库存管理</li>
    <li>
      <%= link_to '包装物流转记录列表', wrappage_movements_path %>
    </li>
    <li class="active">
      新增包装物流转记录
    </li>
  </ol>
</div>

<%= render 'form' %>