<p id="notice"><%= notice %></p>

<p>
  <strong>Builder:</strong>
  <%= @movement_list.builder %>
</p>

<%= link_to 'Edit', edit_movement_list_path(@movement_list) %> |
<%= link_to 'Back', movement_lists_path %>
