<p id="notice"><%= notice %></p>

<p>
  <strong>备注:</strong>
  <%= @movement_list.remarks %>
</p>

<%= link_to '编辑', edit_movement_list_path(@movement_list) %> |
<%= link_to '返回', movement_lists_path %>
