<style>
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">材料盘点</li>
    <li>
      <a href="/inventory_list_items" title="返回盘点项列表">盘点项列表</a>
    </li>
    <li class="active">
      新建盘点项
    </li>
  </ol>
</div>

<%= render 'form' %>