<table style="border: grey medium 1px">
  <thead>
  <th>
    佳轩零件号
  </th>
  <th>
    缺货数量
  </th>
  <th>
    现有库存量
  </th>
  </th>
  </thead>
  <tbody>
  <% @data.each do |d| %>
      <tr>
        <td>
          <% if  part=Part.find_by_id(d[:part_id]) %>
          <%= part.nr %>
          <% end %>
        </td>
        <td>
          <%= d[:lack_qty] %>
        </td>
        <td>
          <%= d[:stock_qty] %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>