<%= form_for(@fortlift) do |f| %>
  <% if @fortlift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fortlift.errors.count, "error") %> prohibited this fortlift from being saved:</h2>

      <ul>
      <% @fortlift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
