<h1>Listing fortlifts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fortlifts.each do |fortlift| %>
      <tr>
        <td><%= link_to 'Show', fortlift %></td>
        <td><%= link_to 'Edit', edit_fortlift_path(fortlift) %></td>
        <td><%= link_to 'Destroy', fortlift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fortlift', new_fortlift_path %>
