<h1>Listing forklifts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forklifts.each do |forklift| %>
      <tr>
        <td><%= link_to 'Show', forklift %></td>
        <td><%= link_to 'Edit', edit_forklift_path(forklift) %></td>
        <td><%= link_to 'Destroy', forklift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forklift', new_forklift_path %>
