<script type="text/javascript">
    $(function() {
        data_upload("#item-data-uploader");
    });
</script>
<h1>&nbsp;</h1>
<p id="notice">
  <%= notice %>
</p>
<h3>上传/更新数据</h3>
<div>
  上传数据文件：
  <input id="item-data-uploader" type="file" name="files[]" data-url="/parts/do_import_positions" >
  <div class="abstractblock" id="item-data-uploader-preview" style="display:none;"></div>
</div>

<div class="col-sm-12" style="border-top: 1px dashed #000;margin-top:20px;padding-top: 10px;">
  <a href="/files/download?folder=template&file=上传零件位置模板.xlsx">下载数据模板</a>
</div>
<%= link_to '返回', send("parts_path") %>