<style>
    #main-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #main-menu li{
        display: inline;
    }
</style>

<ul id="main-menu">
  <li><a href="/">Home</a></li>
  <li><a href="<%= deliveries_path%>">Deliveries</a></li>
  <li><a href="<%= forklifts_path%>">Forklifts</a></li>
  <li><a href="<%= packages_path%>">Packages</a></li>
  <li><a href="<%= destroy_user_session_path%>">Log out</a></li>
</ul>