<style>
    #main-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #main-menu li{
        display: inline;
    }
</style>

<ul id="main-menu">
  <li><a href="/">主页</a></li>
  <li><a href="<%= deliveries_path%>">运单</a></li>
  <li><a href="<%= forklifts_path%>">清单</a></li>
  <li><a href="<%= packages_path%>">包装箱</a></li>
  <li><a href="<%= destroy_user_session_path%>">注销</a></li>
</ul>