<style>
    .mui-tab-item-transfer {
        display: table-cell;
        overflow: hidden;
        width: 1%;
        height: 50px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #929292;
        border-right: 1px solid #cccccc;
    }

    .mui-tab-item-transfer:hover, .mui-tab-item-transfer:active {
        background: #fefefe;
        text-decoration: none;
        color: steelblue;
    }

    .nav-active > span {
        color: steelblue;
    }
</style>
<nav class="mui-bar mui-bar-tab">
  <a class="mui-tab-item-transfer" href="<%= pick_lists_path %>">
    <span class="glyphicon glyphicon-file" style="color:steelblue;"><!--<span class="mui-badge">9</span>--></span>
    <span class="mui-tab-label">择货单</span>
  </a>
  <!-- <a class="mui-tab-item-transfer" href="<%= pick_items_path %>">
    <span class="glyphicon glyphicon-list-alt" style="color:lightseagreen;"></span>
    <span class="mui-tab-label">择货单项目</span>
  </a>-->
  <a class="mui-tab-item-transfer" href="<%= destroy_user_session_path %>">
    <span class="glyphicon glyphicon-off" style="color: red;"></span>
    <span class="mui-tab-label">注销</span>
  </a>
</nav>