<style>
  #main-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  #main-menu li{
      display: inline;
  }
</style>

<ul id="main-menu">
  <li><a href="/">Home</a></li>
  <li><a href="<%= locations_path%>">Locations</a></li>
  <li><a href="<%= deliveries_path%>">Deliveries</a></li>
  <!--<li><a href="">Users</a></li>-->
</ul>