<ul id="main-menu" class="nav nav-pills">
  <li id='pick_li'><a href="<%= pick_lists_path %>">择货单</a></li>
  <li id='pick_item_li'><a href="<%= pick_items_path %>">择货单项目</a></li>
  <li><a href="<%= destroy_user_session_path %>">｜注 销｜</a></li>
</ul>
