<h3>Notifications</h3>
<div id="order-warehouse">
  <%= render 'orderbus'%>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      window.setInterval(function(){
          console.log("get");
          $.get('/notifications/orderbus',function(data){
              $("#order-warehouse").html(data);
          },'html');
      },10000);
  });
</script>