<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>规范名称</th>
    <th>规范代码</th>
    <th>正则式</th>
    <th>备注</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="text" class="name" value="包装箱号" name="regex[0][name]" readonly/></td>
    <td><input type="text" class="code" value="UNIQ" name="regex[0][code]" readonly/></td>
    <td><input style="width:500px;" type="text" class="regex_string" name="regex[0][regex_string]"/></td>
    <td><input type="text" class="remark" width="300px" name="regex[0][remark]"/></td>
  </tr>
  <tr>
    <td><input type="text" class="name" value="零件号" name="regex[1][name]" readonly/></td>
    <td><input type="text" class="code" value="PART" name="regex[1][code]" readonly/></td>
    <td><input style="width:500px;" type="text" class="regex_string" name="regex[1][regex_string]"/></td>
    <td><input type="text" class="remark" width="300px" name="regex[1][remark]"/></td>
  </tr>
  <tr>
    <td><input type="text" class="name" value="数量" name="regex[2][name]" readonly/></td>
    <td><input type="text" class="code" value="QUANTITY" name="regex[2][code]" readonly/></td>
    <td><input style="width:500px;" type="text" class="regex_string" name="regex[2][regex_string]"/></td>
    <td><input type="text" class="remark" width="300px" name="regex[2][remark]"/></td>
  </tr>
  </tbody>
</table>