<h1>导入移库数据</h1>

<script type="text/javascript">
    $(function () {
        data_upload("#item-data-uploader", 'xlsx');
    });
</script>

<p id="notice"><%= notice %></p>

<div>
  选择数据文件：
  <input id="item-data-uploader" type="file" name="files[]" data-url="/n_storages/move"/>

  <div class="abstractblock" id="item-data-uploader-preview" style="display:none;"></div>

</div>

<div><a href="/files/download?folder=template&file=move_inventory_template.xlsx">下载移库模板</a></div>