<table style="border: grey medium 1px">
  <thead>
  <th>
    佳轩零件号
  </th>
  <th>
    常州莱尼零件号
  </th>
  <th>
    上海莱尼零件号
  </th>
  <th>
    数量
  </th>
  </thead>
  <tbody>
  <% @parts.each do |part| %>
      <tr>
        <td>
          <%= part.nr %>
        </td>
        <td>
          <%= part.part_clients.where(client_tenant_id: @cz.id).first.client_part_nr %>
        </td>
        <td>
          <%= part.part_clients.where(client_tenant_id: @sh.id).first.client_part_nr %>
        </td>
        <th>
          1
        </th>
      </tr>
  <% end %>
  </tbody>
</table>