<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">材料盘点</li>
    <li>
      <a href="/inventory_lists" title="返回盘点单清单">盘点单清单</a>
    </li>
    <li class="active">
      编辑盘点单清单
      <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), @inventory_list %>
    </li>
  </ol>
</div>

<%= render 'form' %>
