<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">报废生成</li>
    <li>
      <a href="/scrap_lists" title="返回报废单">报废单</a>
    </li>
    <li class="active">
      新增报废单
    </li>
  </ol>
</div>

<%= render 'form' %>