<style>
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">管理</li>
    <li>
      <a href="/users">员工</a>
    </li>
        <li class="active">编辑员工信息</li>
  </ol>
</div>

<%= render 'form' %>