<style>
    .CheckBoxName {
        cursor: pointer;
    }
</style>

<div class="panel panel-primary" style="margin: 20px 15px 0 15px;">
  <div class="panel-body" style="text-align: center;">
    <div class="col-md-3">
      <strong>员工号:</strong>
      <strong>11071125</strong>
    </div>
    <div class="col-md-3">
      <strong>姓名:</strong>
      <strong>Admin</strong>
    </div>
    <div class="col-md-3">
      <strong>所属地点:</strong>
      <strong>成品仓库</strong>
    </div>
    <div class="col-md-3">
      <strong>角色:</strong>
      <strong>系统管理员</strong>
    </div>
  </div>
</div>


<div class="col-md-12" style="margin: 20px 0 0 0;">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title" style="display: flex;">
        <div class="col-md-3">
          <h3>Permission Groups</h3>
        </div>
        <div class="col-md-9" style="text-align: right;">
          <button class="btn btn-primary" style="width: 200px;height:50px;margin: 5px 0 0 0;">保存</button>
        </div>
      </div>
    </div>
    <div class="panel-body" style="text-align: center;border-bottom: 1px solid #000000;">
      <div class="col-md-2">
        <h4>已拥有权限</h4>
      </div>

      <div class="col-md-9 HasPermissionGroups" style="border-left: 1px solid #CCCCCC;min-height: 60px;">
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong class="CheckBoxName" title="Hello">Hello
        </strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Add</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Delete</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Change</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Remove</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">My</strong>
        </div>
      </div>
    </div>

    <div class="panel-body" style="text-align: center;">
      <div class="col-md-2">
        <h4>未拥有权限</h4>
      </div>

      <div class="col-md-9 NoPermissionGroups" style="border-left: 1px solid #CCCCCC;min-height: 60px;">
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Hello</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Add</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Delete</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Change</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Remove</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">My</strong>
        </div>

        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Hello</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Add</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Delete</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Change</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">Remove</strong>
        </div>
        <div class="col-md-1" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;">
          <input type="checkbox" class="CheckBox" id="Hello" ischecked="false"><strong title="Hello" class="CheckBoxName">My</strong>
        </div>

      </div>
    </div>
  </div>
</div>

<!--
<%= form_tag controller: 'users', action: 'set_permissions', method: 'post' do %>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th></th>
        <th>NO.</th>
        <th>权限名称</th>
        <th>是否勾选</th>
        <th></th>
      </tr>
      </thead>

      <tbody>

      </tbody>
    </table>

<% end %>-->


<script type="text/javascript" charset="utf-8">
    var ClientHeight = document.documentElement.clientHeight;
    $('.HasPermissionGroups').css({height: (ClientHeight - 450) / 2 + 'px'});
    $('.NoPermissionGroups').css({height: (ClientHeight - 450) / 2 + 'px'});


    $('.CheckBoxName').unbind().on('click', function () {
        console.log($(this));
        console.log($(this).html());
        console.log($(this).parent());
        console.log($(this).parent().children('input'));
        console.log($(this).parent().children('input').attr('id'));
        console.log($(this).parent().children('input').attr('ischecked'));

        var PermissionGroupsID = $(this).parent().children('input').attr('id');
        var PermissionGroupsName = $(this).html();
        var PermissionGroupsStatus = $(this).parent().children('input').attr('ischecked');

        $('.ShowPermissionTips').remove();


        $('<div style="width: 200px;height: 100px;background: #000;display: none;" class="ShowPermissionTips" > </div>').appendTo($(this)).ready(function () {
        });
        $('.ShowPermissionTips').fadeIn(400);

        /*  $.ajax({
         url: 'GetPermission',
         type: 'get',
         data: {
         id: PermissionGroupsID
         },
         success: function (data) {
         console.log("Get Successful");

         },
         error: function () {
         console.log("Something error");
         },
         complete: function (xhr) {
         if (xhr.status == 304) return;
         }
         })*/

    })

</script>