<%= form_tag controller: 'users', action: 'set_permissions', method: 'post' do %>
    <input type="submit" class="btn btn-warning" value="保存"/>

    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th></th>
        <th>NO.</th>
        <th>权限名称</th>
        <th>是否勾选</th>
        <th></th>
      </tr>
      </thead>

      <tbody>

      </tbody>
    </table>

<% end %>