// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-input{
  display:block;
  margin-left:30px;
  width:230px;
  margin-bottom:30px;
}
.panel-content {
  width:100%;
}
.panel-list{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:left;
  width:24%;
  padding:0 30px;
  li{
    margin-bottom:15px;
    padding:8px;
    border-bottom:1px solid rgba(0,0,0,0.2);
  }
}
.order-content-div{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:left;
  width:76%;
  table{
    width:95%;
  }
}
