<h2>编辑运单</h2>

<%= render 'form' %>

<td><%= link_to '详细',{ controller:'deliveries',action: 'show',id:@delivery.id },class:'btn btn-default' %></td> |
<%= link_to '返回', { controller:'deliveries',action: 'index' } ,:class=>'btn btn-default'%>
