<ul id="picklists" class="picklists">
  <% @picklists.each do |pl| %>
      <li>
        <a class="item-a" picklist="<%= pl.id %>">
          <input hidden type="checkbox" id="<%= pl.id %>" class='print-check'>
          <%= pl.id %>,<%= pl.created_at.localtime.strftime("%m-%d %H:%M")%>
        </a>
      </li>
  <% end %>
</ul>