<ul id="picklists" class="picklists">
  <% @picklists.each do |pl| %>
      <li>
        <a class="item-a" picklist="<%= pl.id %>"><%= pl.id %></a>
        <!--<input type="checkbox" value="<%= pl.id %>" class="picklist-checkout"/>-->
        <!--<span class="label label-info"><%= pl.id %></span>-->
      </li>
  <% end %>
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').on('click', ".item-a", function () {
            var lists = [];
            $("#panel-list").removeClass("choose-active");
            $("#pick-list-history").addClass("choose-active");
            lists.push($(this).attr("picklist"));
            $.get('/orders/pickitems', {picklist_ids: lists}, function (data) {
                $('.order-content-div').html(data);
            }, 'html');
        })
    });
</script>