<style>
    a:hover, a:active {
        text-decoration: none;
        background-color: white;
        color: black;
        outline: none;
    }
</style>

<div class="panel panel-default">
  <ol class="breadcrumb" style="background: transparent;padding: 20px 0 0 20px;font-size: 1.2em;">
    <li class="active">运输管理</li>
    <li>
      <a href="/orders" title="返回需求单">需求单</a>
    </li>
    <li class="active">
      编辑需求单
      <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-eye-open', :style => 'color:green;'), @order, :title => '查看需求单详情' %>
    </li>
  </ol>
</div>

<%= render 'form' %>