
<!--<h3>需求单处理面板</h3>-->
<!--<p style="padding-left:30px;">择货员工号：<input type="text" id="user-id-text" class="panel-input-o" value="<%= current_user.id %>" /></p>-->
<!--<div id="filters">-->
  <!--<%= render partial:'filters'%>-->
<!--</div>-->
<!--<input type="button" value="生成择货单(择货员工号必须填写)" onclick="build_pick_list();" style="margin-left:30px;margin-top:0px;">-->
<!--<input type="button" value="完成需求单处理" onclick="finish_order_handle(true);" style="margin-left:30px;margin-top:0px;">-->
<div class='panel-header'>
  <p>需求面板</p>
  <a class='btn btn-warning btn-sm'>创建择货单</a>
</div>
<div class="panel-content">
  <div id="panel-list" class='panel-list choose-active'>
    <div class='panel-title'>
      <p class="left">需求单列表</p>
      <i class='glyphicon glyphicon-chevron-right'></i>
    </div>
    <ul id='order-list-panel'>
      <%= render partial: 'list' %>
    </ul>
  </div>
  <div class="order-content-div">
    <div class="alert" role="alert"><h3>请勾选左侧需求单列表来预览</h3></div>
  </div>
  <div id="pick-list-history" class="pick-list-history " >
    <div class='panel-title'>
      <i class='glyphicon glyphicon-chevron-left'></i>
      <p class="right">择货单列表</p>
    </div>
    <%= render partial: 'picklists'%>
  </div>
</div>

<script type="text/javascript">
    $('body').on('change', '.order-checkbox', function () {
        $("#panel-list").addClass("choose-active");
        $("#pick-list-history").removeClass("choose-active");
        get_order_items();
    }).on('keydown', '#user-id-text', function (e) {
        if (e.keyCode == 13) {
            get_order_items();
            get_user_filters();
        }
    }).on('change','#select-all',function(){
        var checked = $(this).attr('checked') == undefined ? false:true;
        if(checked){
            $(".order-checkbox").prop('checked',true).trigger("change");
        }else{
            $(".order-checkbox").prop('checked',false).trigger("change");
        }
    })

    function get_user_filters(){
        $.get('/orders/filters',{user:$('#user-id-text').val()},function(data){
            $("#filters").html(data);
        },'html');
    };

    function get_order_items() {
        var orders = [];
        $('.order-checkbox:checked').each(function () {
            orders.push($(this).val());
        });
        if (orders.length == 0) {
            $('.order-content-div').html("<h4>选择需求单预览</h4>");
        } else {
            $.get('/orders/items', {user_id: $('#user-id-text').val(), order_ids: orders}, function (data) {
                $('.order-content-div').html(data);
            }, 'html');
        }
    }
    function build_pick_list() {
        var user = $('#user-id-text').val();
        var orders = [];
        $('.order-checkbox:checked').each(function () {
            orders.push($(this).val());
        });
        if (!user) {
            alert('请输入择货员工号');
            return;
        }
        if (orders.length == 0) {
            alert('请选择需要处理的需求单');
            return;
        }
        show_handle_dialog();
        $.post('/pick_lists/', {user_id: user, order_ids: orders}, function (data) {
            hide_handle_dialog();
            if (data.result) {
                window.location = '/pick_lists/' + data.content.id;
            } else {
                alert(data.content);
            }
        }, 'json');
    }

    function finish_order_handle(handled) {
        var orders = [];
        $('.order-checkbox:checked').each(function () {
            orders.push($(this).val());
        });
        if (orders.length > 0 && confirm('确定完成处理？')) {
            $.post('/orders/handle', {orders: orders, handled: handled}, function (data) {
             if(handled){
                $.each(data, function (i,order) {
                    console.log(order);
                    $('#' + order).parent().remove();
                });
             }
            }, 'json');
        }
    }
    (function refresh_order() {
        setTimeout(function () {
            var orders = [];
            $('.order-checkbox').each(function () {
                orders.push($(this).val());
            });
            $.ajax({
                url: '/orders/panel_list',
                dataType: 'html',
                data: {orders: orders},
                type: 'get',
                success: function (data) {
                    if (data.length > 0) {
                        $('#order-list-panel').append(data);
                    }
                    refresh_order();
                },
                error: function () {
                    refresh_order();
                },
                complete: function (xhr) {
                    if (xhr.status == 304) return;
                }
            });
        }, 30000);
    })();
</script>